fastapi
uvicorn
python-dotenv
langchain
langchain-openai
pydantic
rank-bm25
nltk
pygments
langchain==0.3.13
langchain-anthropic==0.3.1
langchain-community==0.3.13
langchain-core==0.3.28
langchain-fireworks==0.2.6
langchain-openai==0.2.14
langchain-pinecone==0.2.0
langchain-text-splitters==0.3.4
langcodes==3.5.0
langdetect==1.0.9
langgraph==0.2.52
langgraph-checkpoint==2.0.5
langgraph-sdk==0.1.36
langsmith==0.2.7