---
title: Business Address Verification
url: https://sellercentral.amazon.com/help/hub/reference/G2CVLYZXQRXQAMAL
section: General Documentation
---

**Note:** If you must verify your phone number AND business address, please
complete phone verification first.

To maintain a trusted store for buyers and sellers, we need to verify the
business address you provided during registration or may have updated after
you first registered.

Address verification process:

  1. If you must re-verify your address information, you’ll see a banner at the top of your **Account Information** page in Seller Central directing you to complete address verification. 

  2. To complete verification, go to the **Account Information** page, and then click **Business Address and Phone Number**.

  3. If your current business address is correct, enter your name. If it’s incorrect, select a different address or add a new one, and then enter your name. 

  4. Click **Confirm**.  We will verify your address. We may send a postcard containing a 6-digit verification code to this address. 

  5. Once you receive the postcard, navigate back to the **Business Address and Phone Number** page, enter the 6-digit verification code, and then submit. 

If you requested a replacement postcard, make sure you’re using the
verification code from the _latest_ postcard that you received.

**Note:** You can request a replacement postcard if the expected delivery date
has passed. You must wait until three days after your latest request before
submitting a new request. We suggest that you use the carrier tracking details
to determine if your postcard is still on the way before requesting a new one.

