---
title: Global seller identity verification
url: https://sellercentral.amazon.com/help/hub/reference/GQRP483PDN88Q3M9
section: General Documentation
---

To maintain a trusted store for buyers and sellers, we need to verify the
information that you provided during registration. Here you can find
information on the global seller identity verification process and the
documents that you have to provide to create and verify your selling on Amazon
account.

## Document submission

  

  1. Before submitting relevant documentation to activate your seller account, you must sign in to Seller Central and complete the registration process: 1) Update the business information, 2) Seller information, 3) Billing, 4) Store and 5) Verification.
  2. You will have to confirm your details under Identity and Address Verification and upload the required documents as per the instructions on this page.
  3. The Verification page will display customized options based on your business type and the country, state, or region in which your business is located or where you reside.

## Document requirements

Amazon will need to verify the identity of the legal representative or
beneficial owner registering the account.

The person registering the account, also known as primary contact person, will
need to provide two documents - an identity document and an additional
document.

We require at least two documents in order to verify your identity:  

  1. **Identity document** \- A government-issued photo identity document that is used to confirm one’s identity, such as a passport or national ID. This document must match the proof of identity information selected under **Identity data**.
  2. **Additional document**   

    1. Business Licenses: We require a document that proves that your business is valid, such as a business license or equivalent business document. This is a government issued statement displaying information on your business.
    2. Proof of address: We collect a proof of address document, such as bank statement or credit card statement. A bank statement is an official document issued by your bank or other financial institution that summarizes your account activity over a certain period of time - typically one month.
    3. Additional documents for legal and compliance obligations. Based on your business' physical location or the store(s) in which you operate, we may request additional documents and information about your business.

In order to ensure your documents are not rejected, make sure that they meet
the following requirements:

  * Be valid (not expired, revoked, inactive or closed).
  * In order to ensure your documents are not rejected, make sure that they meet the following requirements
  * Be high resolution and unobstructed (clear, readable, visible and in focus).
  * Be complete and not cut off from any sides (not angled or cropped).
  * Be a scanned image or photo of the original document taken from your mobile device's camera.
  * Display the full document (front and back, if applicable).
  * Be less than 50MB in size.
  * Be in one of these formats: TIF, TIFF, PNG, JPG, PDF, and JPEG. Do not include special characters in the file name (examples: $, &, or #).
  * Be authentic and unaltered.
  * Must not be password-protected.
  * Be in one of these supported languages: Arabic, Simplified Chinese, Dutch, English, French, German, Hindi, Italian, Japanese, Polish, Portuguese, Spanish, Swedish, Tamil, Thai, Turkish, and Vietnamese. If your documents are not in a supported language, you must submit a notarized translation in a supported language along with the original document.

For detailed document requirements, click the country as per the business
location you selected:

[Australia](/gp/help/GQVPQARLRERHWKBV) | [Hongkong](/gp/help/GVEGSMPP7CJP2Z2F) | [Spain](/gp/help/GNVB7W46WT2CB3RE)  
---|---|---  
[Brazil](/gp/help/GAZSVFRDYZPFBYHD) | [India](/gp/help/GF4CEZLPSKFXPCM3) | [Sweden](/gp/help/GHCZ2QCPHULGPHDR)  
[Canada](/gp/help/GTNS9EVXU2KVBHC5) | [Italy](/gp/help/G8MDJRDWCY6SH6E2) | [United Arab Emirates](/gp/help/GM9MYVG9NBJCDFVT)  
[China](/gp/help/GSTQGS38CC9867UF) | [Mexico](/gp/help/GDWYSCEYL8DUFDLB) | [United Kingdom](/gp/help/G7U89HC2GNPA7EB8)  
[Egypt](/gp/help/G9GFNKKWR5MVPFXB) | [Netherlands](/gp/help/G84RNF8H9ZA8H9Z9) | [United States of America](/gp/help/G7GA95FCYX3WXPC3)  
[France](/gp/help/G66JB7E3P2RBVDWJ) | [Poland](/gp/help/GDK9GP9K2N9862KZ) | [Taiwan](/gp/help/GSB8S8BQF68WHN9W)  
[Germany](/gp/help/GSDEZ743QCQ2VMGZ) | [Saudi Arabia](/gp/help/GHSP9MFQ33KW5LSX) | [Türkiye](/gp/help/GHMMVB2ARHVMNZMR)  
[Japan](/gp/help/G4GJXD8MWGJK7BJD) | [Singapore](/gp/help/G2FYAUYVBPV7C3AJ) |   
  
If your business location (country) is not mentioned above, submit your
documents as per below guidelines:

**Important:** If your identity document does not match the country of
residence, make sure your proof of address matches the country of residence.

**Identity document** : We accept ID documents such as passport, passport
card, national identity card, driving license, enhanced driving license,
citizenship card, permanent residency card, health card, or military
identification card.

Make sure that your identity document meets the document requirements and the
following criteria:  

  1. Must be a government issued photo identity document which is recognized and issued by the country where you are a citizen or resident.
  2. Must show first and last name. The name must match the name entered under primary contact person information.
  3. Must include the date of birth. The date entered must be an exact match as we do not accept typos.

**Note:** ID holder must be 18 years or above.

  4. Must show the unique ID number. The number entered must be an exact match as we do not accept typos.
  5. Have an expiry date (if applicable). The number entered must be an exact match as we do not accept typos.

**Note:** If your document does not have an expiry date, you can enter a dummy
date of three months from the date of registration.

  6. Have the bearer's signature (if applicable).

**Note:** Certain passports have signatures on one of the initial pages or one
of the last pages.

  7. Must provide both sides of the ID if there is any vital information at the back of the ID like: signature, date of expiry, date of birth, or barcodes.

**Note:** If the upload page does not ask for separate front and back image
uploads, be sure to merge the images into one file to upload.

  8. Must be a color copy.

**Proof of address document:** We accept bank statements (including current
account, savings account, or loan account statement), credit card statements
or account statement provided by an e-commerce payment service providers such
as Payoneer, Hyperwallet, World First, and Alipay.

Make sure that your document meets the document requirements and the following
criteria:  

  1. Must be issued within the last 180 days and show the issuing date, due date, or transaction dates.
  2. Must have the financial institution details to show at least one of the following details: bank name, bank stamp, bank signature, or bank logo.
  3. Must have the name and address of the account holder.

## What to expect after you upload your document

Once you upload all necessary documents and information, Seller Central will
display a confirmation message. You can close the tab in your browser and
Amazon will review your information and may contact you for further
clarification, if needed, within two business days. We will also keep you
informed via an email to your email address provided during registration.

**Important:** Do not re-submit documents or appeal while Amazon is reviewing
your information.

If we are unable to verify the information you provided and request that you
resubmit your documents, you will have 30 days to complete this request. If we
do not receive your documents within this timeframe, your seller onboarding
process will be closed and we will not be able to activate your account to
sell on Amazon. For security reasons, we can only accept documents uploaded
through Seller Central.

**Important:** If your Amazon seller account is deactivated after passing
verification, refer to the help page [Seller performance
review](/gp/help/GW5QB6H8Q8CHA483).

For more information on global seller identity verification, go to [Frequently
asked questions about global SIV](/gp/help/G2MJXHQCR62DZSSM).

