---
title: Phone Verification
url: https://sellercentral.amazon.com/help/hub/reference/GGQSHDR5BYTCWX42
section: General Documentation
---

To maintain a trusted store for buyers and sellers, we need to verify the
business phone number you provided during registration. If your number changes
after registration, we’ll also need you to reverify that the new information
is accurate.

**Note:** If you must verify your phone number AND business address, please
complete phone verification first.

Phone verification process:

  1. If you're required to verify or re-verify your phone number, you’ll see a banner on the **Account Information** page directing you to complete verification of your phone number.

  2. on the **Account Information** page, click **Business Address and Phone**.

  3. If the phone number displayed is correct, make sure that it includes the + sign and your country code.

  4. To enter a new phone number, click **Add a new business phone** , enter your phone number (including + and the country code) and submit. 

  5. Follow these steps to verify the phone number:   

    1. Select whether you want to receive this PIN via SMS or phone call.
    2. Select the preferred language of the SMS or phone call.
    3. Click **Send SMS** or **Call** to receive the six-digit PIN.
    4. After you receive the SMS or call, enter the PIN in the pop-up and then click **Verify**.

**Note:** If you’re not receiving the SMS or phone call after clicking
**Verify** , make sure that you’ve included **+** and your country code in the
number.

