---
title: Use an authenticator app for Two-Step Verification
url: https://sellercentral.amazon.com/help/hub/reference/G202110780
section: General Documentation
---

Instead of receiving a code on your phone via text or voice call each time you
sign in to your seller account, you can use an authenticator app to generate
your authentication code. Authenticator apps do not require phone service or
an Internet connection to work, but must be downloaded to whatever device or
PC you choose.

To download an authenticator app, go to the app store for your device or
browse the Internet:

  * If you're using an iOS or Android device, you can download Microsoft Authenticator or Google Authenticator from your respective app store. If you prefer to use a different authenticator app, make sure that it supports TOTP-OATH (Time-based One-time Password Algorithm adopted by the Initiative for Open Authentication).
  * If you're using a Windows PC, tablet, or device, search for "authenticator app" in the Windows Store.
  * You can install programs that work with a USB security key. For more information, see [Use a USB security key for Two-Step Verification](/gp/help/GB3NRUQMHWRX4WJL).
  * You can also download browser-based extensions or add-ons from the Internet.

**Note:** Authenticator apps don't have access to your Seller Central password
or account information.

You can choose one of two methods to add your seller account to the app.

## Same-device sign-up

Use this method if you are installing your authenticator app on a device that
doesn't have a camera. Or if you're unable to use your device to scan the QR
code (for example, on a PC).

  1. Log in to Seller Central and go to **Settings** , and then select **Login Settings**.

  2. Click the **Edit** button next to **Advanced Security Settings** , and then click the **Get Started** button.

  3. Check **Authenticator App** when prompted to choose how to receive codes.

  4. Click on the **Can't scan the bar code?** link and copy the information there.

  5. Open your authenticator app, add a new account, and paste the information you copied. This links your app to your seller account.

  6. The app will automatically generate a random code that you must re-enter on the enrollment screen under the QR code. Click **Verify code and continue**.

  7. The app will now provide new codes on a continuous basis.

## Two-device sign-up

Use this method if the device you installed your authenticator app on has a
camera.

  1. Log in to Seller Central using a computer or device that is different from the device where you installed your authenticator app. Go to **Settings** and select **Login Settings**.

  2. Click the **Edit** button next to **Advanced Security Settings** , and then click the **Get Started** button.

  3. Check **Authenticator App** when prompted to choose how to receive codes. A QR code will display on the screen.

  4. Open the authenticator app on your other device and add a new account. The device's camera will activate. Use it to scan the QR code.

  5. The app will automatically generate a random code that you must re-enter on the enrollment screen under the QR code. Click **Verify code and continue**.

  6. The app will now provide new codes on a continuous basis.

## More information

  * [About Two-Step Verification](/gp/help/G202110760)
  * [How to enable Two-Step Verification](/gp/help/GSWPS4GPEPMXZ98R)
  * [Set up Two-Step Verification](https://www.amazon.com/a/settings/approval)
  * [Signing in with Two-Step Verification](https://www.amazon.com/gp/help/customer/display.html/?&nodeId=202073780)
  * [Changing Two-Step Verification Settings](https://www.amazon.com/gp/help/customer/display.html/?&nodeId=202073720%27)
  * [Two-Step Verification Account Recovery](https://www.amazon.com/gp/help/customer/display.html/?&nodeId=202073840)
  * [Change login settings](/gp/help/G831)

