---
title: Use a USB security key for Two-Step Verification
url: https://sellercentral.amazon.com/help/hub/reference/GB3NRUQMHWRX4WJL
section: General Documentation
---

Another option for enabling Two-Step Verification is to purchase a USB
security key. These are plugged into an available USB port on your computer,
and work with an authenticator program to generate codes for logging in to
your seller account.

Some examples of USB security keys include Yubikeys and Nitrokeys, but you can
search for others on the Internet. Make sure they all support TOTP-OATH (Time-
based One-time Password Algorithm for the Initiative for Open Authentication).

**Note:** USB security keys and authenticator programs don't have access to
your Seller Central password or account information.

## USB security key setup

Follow these steps after you have installed the authenticator program that
comes with your USB security key.

  1. In Seller Central, go to **Settings** and select **Login Settings**.

  2. On the **Login & security** page, select **Edit** next to the **Two-Step Verification (2SV) Settings** option.

  3. On the **Advanced Security Settings** page, select **Get Started**.

  4. Check **Authenticator App** when prompted to choose how you'll receive codes. A QR code will display on the screen.

  5. Insert your USB security key into the USB drive on your computer.

  6. Follow the instructions of your authenticator program to add your account name (email address) and the secret key, which is embedded in the QR code. Some have the capability to scan QR codes while others might require you to enter the secret key manually. If you can't scan the code, click **Can’t scan the barcode?** on the Two-Step Verification setup page.

  7. After you add credentials to the authenticator program, it will automatically generate a random code for you to re-enter on the setup screen under the QR code.

  8. Click **Verify and continue**.

When you insert the USB security key into your computer, a code will be sent
to the authenticator program. You'll enter that code on the login screen. The
authenticator program will not generate codes until you insert the USB
security key.

